<div id="navbar-wrapper" style="position: fixed;">
    <nav style="background-color:rgb(46, 141, 179) ;" class="navbar navbar-inverse " >
        <div class="container-fluid" >
            <div class="navbar-header" >
                <!-- <a href="/" class="navbar-brand" ></a> -->
                <a href="/" class="navbar-brand"><img  src="/images/Rec.png"" alt="" style="height: 2.8em; "> &nbsp <b>Rewa Engineering College</b></a>
            </div>
        </div>
    </nav>
</div>