<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REC</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="CSS/main.css">
    <link rel="stylesheet" href="CSS/student-dashboard.css">
    <link rel="stylesheet" href="CSS/student-profile.css">
    <!-- <style>
        body {
            background-image: url('https://cache.careers360.mobi/media/presets/720X480/colleges/social-media/media-gallery/3375/2021/8/7/Campus%20Full%20View%20of%20Rewa%20Engineering%20College%20Rewa_Campus-View.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        </style> -->
</head>

<body style=" ">


    <div id="navbar-wrapper" style="position: fixed;">
        <nav style="background-color:rgb(46, 141, 179) ;" class="navbar navbar-inverse " >
            <div class="container-fluid" >
                <div class="navbar-header" >
                    <!-- <a href="/" class="navbar-brand" ></a> -->
                    <a href="/" class="navbar-brand"><img  src="/images/Rec.png"" alt="" style="height: 2.5em; "> &nbsp <b>Rewa Engineering College</b></a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container" style="vertical-align: center; padding-top: 20vh; padding-left:6rem ; height: 100%;">
        <div class="row">
            <div class="col-md-6">
                <h3 style="font-size: xx-large; color: white;rgb(66, 63, 63);"> Welcome to <br>Attendance System</br> </h3> <hr style="margin-top: 0%; margin-bottom: 0%; border: 1px solid rgb(204, 204, 204);">
                <p style="font-size: large; color: white;"><b>Made By Students </b> with <span style="font-size:150%;color:red;">&hearts;</span>
            </p>
                <a href="/index" style="background-color: rgb(255, 117, 117); color:white ; margin-top: 2rem;"  class="btn btn-success">Enter</a>
            </div>
            
            <div class="col-md-6 pt-2" style="padding-left: 2vw;">
                <img style="max-width: 108%;" src="/images/bg.jpeg" alt="image">
            </div>
        </div>
    </div>

    <footer class="container" style="align-items: center; padding-top: 17vh; text-align: center;">
        <p>All Copyright © Reserved by REC.<span style="color: #e92a3a;">All Rights Reserved</span></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
        </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
        </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
        </script>
</body>

</html>